@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937; /* thumb and track */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* Tailwind's gray-900 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Tailwind's gray-700 */
    border-radius: 6px;
}

body {
    font-family: "Mulish", Segoe UI Symbol, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}